
@{
    ViewBag.Title = "HW1";
}

<h5>姓名:<input type="text" name="name" value="" /></h5>
<h5>帳號:<input type="text" name="name" value="" /></h5>
<h5>密碼:<input type="password" name="name" value="" /></h5>
<h5>性別:<input type="radio" name="name" value="" />男性<input type="radio" name="name" value=""/>女性</h5>
<h5>
    興趣:
    <input type="checkbox" name="name1" value="" />游泳
    <input type="checkbox" name="name1" value="" />閱讀
    <input type="checkbox" name="name1" value="" />看電影
</h5>

<h5>自我介紹:<textarea></textarea></h5>

